{% extends 'base.html' %}

{% block title %}
User Profile - {{ object.user.get_username }}
{% endblock %}

{% block content_header %}
User Profile - {{ object.user.get_username }}{% if perms.auth.change_user %} [<a href="{% url 'admin:auth_user_change' object.user.pk %}">Administrate User</a>]{% endif %}
{% endblock %}

{% block content %}
  <div class="detail-image">
{% if object.image %}
   <img src="{{ object.image.url }}" title="[{{ object.user }}'s Image]" alt="[{{ object.user }}'s Image]" /><br />
{% else %}
   <i>No picture!</i>
{% endif %}
  </div>
  <div class="detail-infobox">

    <dl>
      <dt>Username</dt><dd><b>{{ object.user.get_username }}</b></dd>
      {% if object.user.get_full_name %}<dt>Real Name</dt><dd>{{ object.user.get_full_name }}</dd>{% endif %}
      {% if object.birth_date %}<dt>Birthdate</dt><dd>{{ object.birth_date }}</dd>{% endif %}
      {% if object.location %}<dt>Location</dt><dd>{{ object.location }}</dd>{% endif %}
      <dt>Date Joined</dt><dd>{{ object.user.date_joined }}</dd>
      {% if object.user.last_login %}<dt>Last Login</dt><dd>{{ object.user.last_login }}</dd>{% endif %}
    </dl>
  </div>

{% if object.user == request.user %}<b><a href="{% url 'user_profiles:profile_update' object.user.pk %}">Edit Profile</a></b>{% endif %}
{% comment %}
 {% if object.infoline %}<strong>{{ object.infoline }}</strong><br />{% else %}<em>[No Info Line]</em><br />{% endif %}
{% endif %}
{% endcomment %}

<h3>Public information</h3>
<p>
{{ object.bio|urlize|linebreaks }}
</p>

<hr>

<h3>Ratings</h3>
<table>
<tr>
  <th>Game</th>
  <th>Rating</th>
  <th>Review</th>
  <th>Posted</th>
</tr>
{% for review in object.user.review_set.all %}
<tr>
  <td><a class="game" href="{% url 'games:game' review.game.pk %}">{{ review.game.name }}</a></td>
  <td>{{ review.rating }}</td>
  <td>{{ review.review }}</td>
  <td>{{ review.created }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
